body {
    background-image: url("/images/loveput背景.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.log-sign-in {
    background-color: rgba(255,0,103,0.20);
    color: white;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 1vh;
    right: -10vh;
    font-size: 20px;
}

.log-sign-in span {
    margin-left: 10px;
}

.alert-alert-success {
    background-color: #64e3dd80;
    font-size: 15px;
}

.top-coll {
    background-color: rgba(255,0,103,0.20);
    font-size: 20px;
    position: absolute;
    top: 56vh;
    left: 26vw;
}

.select {
    font-size: 20px;
    position: absolute;
    top: 63vh;
    left: 41vw;
}

.select span {
    margin-left: 260px;
}

.select a {
    color: rgb(121, 0, 121);
    background-color: rgba(255,0,103,0.20);
    border-radius: 10px;
    padding: 5px;
}
