/* 投稿系共通背景 */
body {
    background-image: url("/images/background_posts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* 新規投稿・編集画面 */
.panel-heading{
    font-weight: bold;
}

.panel-panel-default {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  border-radius: 15px;
}

.panel-body {
    width: 100%;
}

/* 投稿一覧 */
.card-body {
    background-color: #ff00001a;
}