body {
    background-image: url("/images/background_posts.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.panel-heading{
    font-weight: bold;
}

.panel-panel-default {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  border-radius: 15px;
}

.panel-body {
    width: 100%;
}
